extends layout2
block content
	.editors
		.html
			span HTML
			pre#html_editor #{data.doc.html}
		.css
			span CSS
			pre#css_editor #{data.doc.css}

		.js
			span Js
			pre#js_editor #{data.doc.js}
	- var s = '/out/'+ data.doc._id
	iframe(id ='frame' src=s)